<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OSRTT_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
      <System.Windows.Forms.ApplicationConfigurationSection>
        <!--<add key="DpiAwareness" value="unaware" />
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />-->
      </System.Windows.Forms.ApplicationConfigurationSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.1460.0.47" newVersion="20.1460.0.47" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <userSettings>
        <OSRTT_Launcher.Properties.Settings>
            <setting name="Runs" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Verbose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveGammaTable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveSmoothData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USBOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuppressDiagBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveXLSX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="advancedSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gammaPercentDiff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveGraphs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateInProgress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeBetween" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="numberOfClicks" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="captureTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="saveInputLagRaw" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ignoreErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VSyncState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="extendedGammaTest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rtKey" serializeAs="String">
                <value>1,5,10</value>
            </setting>
            <setting name="osKey" serializeAs="String">
                <value>5,15,20</value>
            </setting>
            <setting name="vrrKey" serializeAs="String">
                <value>50,70,90</value>
            </setting>
            <setting name="rtName" serializeAs="String">
                <value>RGB 5 Tolerance</value>
            </setting>
            <setting name="rtTolerance" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="rtGammaCorrected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rtPercentage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="osName" serializeAs="String">
                <value>RGB Values</value>
            </setting>
            <setting name="osEndPercent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="osRangePercent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="osGammaCorrected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shareResults" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="serialNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="smoothGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="advancedHeatmaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="heatmapTextColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="proDisplayOrient" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="showDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoSavePNG" serializeAs="String">
                <value>0</value>
            </setting>
        </OSRTT_Launcher.Properties.Settings>
    </userSettings>
</configuration>
